@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Navigation css*/
@media (min-width: 1024px) {
  .direactBar {
    display: grid;
    grid-template-columns: 1fr 6fr;
    list-style-type: none;
  }

  .nav-link1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    text-align: center;
  }

  .nav-link1 li {
    padding: 1rem;
  }

  .nav-link1-Check {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    text-align: center;
  }

  .nav-link1-Check li {
    padding: 1rem;
  }

  .hambergerIcon {
    display: none;
  }
}

ul {
  margin: 0;
  padding-left: 1rem;
}

@media (max-width: 1024px) {
  .direactBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "icon hamIcon"
      "link link";
    list-style-type: none;
  }
  .hambergerIcon {
    grid-area: hamIcon;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .nav-link1 {
    display: none;
  }
  .nav-link1-Check {
    grid-area: link;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    list-style-type: none;
    text-align: center;
  }
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0px;
}

.Nav-hover-pointer-effect:hover {
  cursor: hand;
  cursor: pointer;
}

.Nav-hover-effect:hover {
  background-color: #f4ce14;
  transition: 0.5s;
  cursor: hand;
  cursor: pointer;
}
/* End of Navation css*/

/* Header CSS*/
.intro-background {
  background-color: #495e57;
  color: white;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "Markazi Text", "Karla", serif;
  font-size: 2rem;
  margin: 0.8px;
}

h2 {
  font-family: "Markazi Text", "Karla", serif;
  font-size: 1.8rem;
  margin: 0.8px;
}

p,
a {
  font-family: "Markazi Text", "Karla", serif;
  font-size: 1.2rem;
  margin: 0.8px;
}

.action-button {
  background-color: #f5d63e;
  font-weight: bold;
  font-size: 1rem;
  width: 15rem;
  height: 3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
  font-family: "Karla";
  border-radius: 0.5rem;
}

.action-button:hover {
  background: #282c34;
  color: white;
  transition: 0.5s;
  cursor: hand;
  cursor: pointer;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "info info info img";
  padding: 1rem;
}
.section-info {
  grid-area: info;
}

.section-img {
  grid-area: img;

  padding-left: 2rem;
}

.section-img > img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

/* End of header */

/* Start of Main */
.main-article {
  padding-left: 1rem;
}
.main-article h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.SpecialCard-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu-card {
  flex: 1;
  margin: 1rem;
  background-color: #edefee;
  border-radius: 1.5rem;
  padding: 1rem;
}

.menu-card-img {
  height: 25vh;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.center {
  text-align: center;
}

.padding-top {
  margin-top: 1rem;
}

.Testimonials-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Testimonials-Card {
  background-color: #edefeea1;
  flex: 1;
  flex-basis: 23%;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}

.Testimonials-Card > img {
  display: block;
  margin: auto;
}

.Testimonials-Card > h3 {
  text-align: center;
}

.about-section {
  background-color: #f4ce14;
  height: 25rem;
}

.about-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 3rem;
}

.double-photo {
  max-height: 18rem;
  position: relative;
  top: 4rem;
  padding-left: 4rem;
}

.double-photo > img {
  height: 18rem;
  width: 50%;
  object-fit: cover;
}

.about-1 {
  position: relative;
  top: 0;
  left: 0;
}

.about-2 {
  position: absolute;
  top: -3.5rem;
  left: 10rem;
}

.footer-background {
  background-color: #495e57;
  color: white;
}

.img-footer {
  padding: 1rem;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Contact-footer li a {
  color: white;
  text-decoration: none;
}

.link-noline a {
  color: black;
  text-decoration: none;
}

Link {
  width: 100%;
  height: 100%;
}
